<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Title
    {% endblock title %}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

    {% block body %}
        <p>inside body</p>
    {% endblock body %}

    {% block js %}
    
    {% endblock js %}
    
</body>
</html>