<!-- Extra runs conceded by Teams in IPL -->

{% extends 'base.html' %}


{% block title %}
    Extra Runs
{% endblock title %}


{% block body %}
    <div id="extraRunsChart"></div>
{% endblock body %}


{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const data = JSON.parse('{{ data|escapejs }}');
            
            Highcharts.chart('extraRunsChart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Extra Runs Conceded by Teams'
                },
                xAxis: {
                    categories: data.map(item => item.bowling_team),
                    title: {
                        text: 'Teams'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Total Extra Runs'
                    }
                },
                series: [{
                    name: 'Total Extra Runs',
                    data: data.map(item => item.total_extra_runs)
                }]
            });
        });
    </script>
{% endblock js %}
