{% extends 'base.html' %}

{% block title %}
    IPL Home
{% endblock title %}

{% block body %}
    <div>You at Home</div>
    <ul>
        <li><a href="{% url 'matches_in_year'%}">Matches_in_year</a></li>
        <li><a href="{% url 'won_per_year'%}">won_per_year</a></li>
        <li><a href="{% url 'extra_runs_conceded'%}">extra_runs_conceded</a></li>
        <li><a href="{% url 'top_eco_bowlers'%}">top_eco_bowlers</a></li>
    </ul>
{% endblock body %}