<!-- matches held every year -->

{% extends 'base.html' %}


{% block title %}
    Total Matches
{% endblock title %}


{% block body %}
    <div id="matchesChart"></div>
{% endblock body %}


{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = JSON.parse('{{ data|escapejs }}')

            Highcharts.chart('matchesChart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Matches in Year Chart'
                },
                xAxis: {
                    categories: Object.keys(data),
                    title: {
                        text: 'Years'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Count of Matches held'
                    }
                },
                series: [{
                    name: 'Matches per Year',
                    data: Object.values(data)
                }]
            });
        });
    </script>
{% endblock js %}