<!-- Top 10 Bowlers in IPL history -->

{% extends 'base.html' %}


{% block title %}
    Top Bowlers
{% endblock title %}


{% block body %}
    <div id="economyChart"></div>
{% endblock body %}


{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = JSON.parse('{{ data|escapejs }}');

            Highcharts.chart('economyChart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Bowlers Economy Rate'
                },
                xAxis: {
                    categories: data.map(item => item.bowler),
                    title: {
                        text: 'Bowlers'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Economy Rate'
                    }
                },
                series: [{
                    name: 'Economy Rate',
                    data: data.map(item => item.eco_rate)
                }]
            });
        });
    </script>
{% endblock js %}