<!-- stacked_bar_chart.html -->

{% extends 'base.html' %}


{% block title %}
    Teams Won Year Count
{% endblock title %}


{% block body %}
    <div id="teamPerformanceChart"></div>
{% endblock body %}


{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const data = JSON.parse('{{ data|safe }}');

            // Extract all years and teams from the data
            let allYears = [];
            let allTeams = [];
            for (let team in data) {
                allTeams.push(team);
                for (let year in data[team]) {
                    if (allYears.indexOf(year) === -1) {
                        allYears.push(year);
                    }
                }
            }

            // Transform the data into a format suitable for Highcharts
            const seriesData = [];
            for (let i = 0; i < allTeams.length; i++) {
                let team = allTeams[i];
                let teamData = {
                    name: team,
                    data: allYears.map(function (year) {
                        return data[team][year] || 0;
                    }),
                };
                seriesData.push(teamData);
            }

            Highcharts.chart('teamPerformanceChart', {
                chart: {
                    type: 'column',
                },
                title: {
                    text: 'Team Performance Over Years'
                },
                xAxis: {
                    categories: allYears.map(function (year) {
                        return parseInt(year);
                    }),
                    title: {
                        text: 'Years'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Matches Played'
                    },
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y;
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: seriesData
            });
        });
    </script>
{% endblock js %}